<td>
    <%=auditorium.count%>
</td>
<td>
    <%=auditorium.name %>
</td>
<td>
    <%=auditorium.studentCount %>
</td>
<td>
    <i class="mdi-action-delete deleteAuditorium editTools"></i>
    <i class="mdi-editor-mode-edit editAuditorium editTools"></i>
</td>
