<div class="checkbox">
    <label>
        <input type="checkbox" model="<%=cid%>"><span class="checkbox-material"><span class="check"></span></span> <%=name.first%> <%=name.last%> <%=name.middle%>
    </label>
</div>
