<td>
    <%=speciality.count%>
</td>
<td>
    <%=speciality.title %>
</td>
<td>
    <%=speciality.codeDepartment %>
</td>
<td>
    <i class="mdi-action-delete deleteSpeciality editTools"></i>
    <!-- <i class="mdi-editor-mode-edit editAuditorium editTools"></i> -->
</td>
