<div class="list-group-item subjectListItem col-md-6 col-lg-4">
    <div class="row-action-primary">
        <% if(subject.teachers.length> 9) {%>
            <i class="mdi-image-filter-9-plus countTeachers"></i>
        <% } else {%>
            <i class="mdi-image-filter-<%=subject.teachers.length%> countTeachers"></i>
        <% }%>
        <div>Teachers</div>
    </div>
    <div class="row-content">
        <div class="action-secondary">
            <i class="mdi-action-delete deleteSubject editTools"></i>
            <i class="mdi-editor-mode-edit editSubject editTools"></i>
        </div>
        <h4 class="list-group-item-heading"><%=subject.name%></h4>
    </div>
</div>
