<td>
    <%=teacher.count%>
</td>
<td>
    <%=teacher.name.first %>
</td>
<td>
    <%=teacher.name.last %>
</td>
<td>
    <%=teacher.name.middle %>
</td>
<td>
    <i class="mdi-action-delete deleteTeacher editTools"></i>
    <i class="mdi-editor-mode-edit editTeacher editTools"></i>
</td>
