<div id="editTeacherModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="loginForm" class="form-horizontal">
                    <fieldset>
                        <legend>Edit Teacher</legend>
                        <div class="form-group">
                            <label for="editFirstName" class="col-lg-3 control-label">First Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="editFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editLastName" class="col-lg-3 control-label">Last Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="editLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editMiddleName" class="col-lg-3 control-label">Middle Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="editMiddleName" placeholder="Middle Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3 alertError"></div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <button id="editTeacher" class="btn btn-color-600">Save</button>
                                <button type="button" class="btn btn-color-050" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
