<!DOCTYPE html>
<html>
<%- include( 'layouts/head'); -%>

    <body>
        <div class="container">
            <div class="jumbotron padding-bottom-50px">
                <h1><%= error.message %></h1>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
            </div>
        </div>
    </body>

</html>
