<!DOCTYPE html>
<html>

<head>
    <%- include( 'layouts/head'); -%>
</head>

<body>
    <div class="container" id="teacherPage">
        <%- include( 'layouts/header'); -%>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Main Page in development</h1>
                </div>
            </div>
    </div>
    <%- include( 'layouts/footer'); -%>
</body>

</html>
