body{
    height: 100%;
}
.padding-bottom-50px {
    margin-top: 50px;
}

.btn-color-050 {
    background-color: rgb(232, 234, 246) !important;
}

.btn-color-600 {
    background-color: rgb(57, 73, 171) !important;
    color: white !important;
}

.icon {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

.icon:hover {
    color: #1a237e;
}

.icon i {
    font-size: 26pt;
}

.closeModal {}

.alertError {
    color: red;
}

.editTools {
    float: right;
}

#listIsClear {
    display: none;
}

.subjectListItem {
    padding: 16px 16px 16px 25px !important;
}

.countTeachers {
    font-size: 38px !important;
    color: #3d5afe !important;
    background: #e8eaf6 !important;
}
footer{
    height: 50px;
    background-color: #eeeeee;
}
