<div id="editAuditoriumModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="loginForm" class="form-horizontal">
                    <fieldset>
                        <legend>Edit Auditorium</legend>
                        <div class="form-group">
                            <label for="editName" class="col-lg-3 control-label">Name or Number</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="editName" placeholder="Name or Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editStudentCount" class="col-lg-3 control-label">Count of Students</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="editStudentCount" placeholder="Count of Students">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3 alertError"></div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <button id="editAuditorium" class="btn btn-color-600">Add</button>
                                <button type="button" class="btn btn-color-050" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
