<div id="addSubjectModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Add Subject</legend>
                        <div class="form-group">
                            <label for="inputSubjectName" class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="inputSubjectName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teachers" class="col-lg-3 control-label">Teachers</label>
                            <div class="col-lg-9 listTeachers"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3 alertError"></div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <button id="addSubject" class="btn btn-color-600 login">Add</button>
                                <button type="button" class="btn btn-color-050" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
