<div id="deleteSubjectModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Do you want delete this Subject?</h2>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn btn-color-600 deleteSubjectConfirm">Delete</button>
        <button class="btn btn-color-050" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>